.red               { background-color: #e51c23; color: #eee; }
.red:hover         { background-color: #dd191d; color: #fff; }
.red-done          { background-color: #f36c60; color: #222; }
.magenta           { background-color: #e91e63; color: #eee; }
.magenta:hover     { background-color: #d81b60; color: #fff; }
.magenta-done      { background-color: #f06292; color: #222; }
.violet            { background-color: #9c27b0; color: #eee; }
.violet:hover      { background-color: #8e24aa; color: #fff; }
.violet-done       { background-color: #ba68c8; color: #ddd; }
.amethyst          { background-color: #673ab7; color: #eee; }
.amethyst:hover    { background-color: #5e35b1; color: #fff; }
.amethyst-done     { background-color: #9575cd; color: #ddd; }
.indigo            { background-color: #3f51b5; color: #eee; }
.indigo:hover      { background-color: #3949ab; color: #fff; }
.indigo-done       { background-color: #7986cb; color: #ddd; }
.blue              { background-color: #5677fc; color: #eee; }
.blue:hover        { background-color: #4e6cef; color: #fff; }
.blue-done         { background-color: #91a7ff; color: #222; }
.sky               { background-color: #03a9f4; color: #eee; }
.sky:hover         { background-color: #039be5; color: #fff; }
.sky-done          { background-color: #4fc3f7; color: #222; }
.cyan              { background-color: #00bcd4; color: #eee; }
.cyan:hover        { background-color: #00acc1; color: #fff; }
.cyan-done         { background-color: #4dd0e1; color: #222; }
.teal              { background-color: #009688; color: #eee; }
.teal:hover        { background-color: #00897b; color: #fff; }
.teal-done         { background-color: #4db6ac; color: #222; }
.green             { background-color: #259b24; color: #eee; }
.green:hover       { background-color: #0a8f08; color: #fff; }
.green-done        { background-color: #42bd41; color: #222; }
.asparagus         { background-color: #8bc34a; color: #111; }
.asparagus:hover   { background-color: #7cb342; color: #000; }
.asparagus-done    { background-color: #aed581; color: #222; }
.lime              { background-color: #cddc39; color: #111; }
.lime:hover        { background-color: #c0ca33; color: #000; }
.lime-done         { background-color: #dce775; color: #222; }
.yellow            { background-color: #ffeb3b; color: #111; }
.yellow:hover      { background-color: #fdd835; color: #000; }
.yellow-done       { background-color: #fff176; color: #222; }
.amber             { background-color: #ffc107; color: #111; }
.amber:hover       { background-color: #ffb300; color: #000; }
.amber-done        { background-color: #ffd54f; color: #222; }
.orange            { background-color: #ff9800; color: #111; }
.orange:hover      { background-color: #fb8c00; color: #000; }
.orange-done       { background-color: #ffb74d; color: #222; }
.pumpkin           { background-color: #ff5722; color: #eee; }
.pumpkin:hover     { background-color: #f4511e; color: #fff; }
.pumpkin-done      { background-color: #ff8a65; color: #222; }
.brown             { background-color: #795548; color: #eee; }
.brown:hover       { background-color: #6d4c41; color: #fff; }
.brown-done        { background-color: #a1887f; color: #ddd; }
.gray              { background-color: #9e9e9e; color: #eee; }
.gray:hover        { background-color: #757575; color: #fff; }
.gray-done         { background-color: #e0e0e0; color: #222; }
.slate             { background-color: #607d8b; color: #eee; }
.slate:hover       { background-color: #546e7a; color: #fff; }
.slate-done        { background-color: #90a4ae; color: #222; }
